* {
	font-family: Montserrat;
}
body{
	margin: 0px;
}
nav {
	background-color: #2c3e50;
	position: fixed;
	width: 100%;
	z-index: 1;
}
h2 {
	margin: 0;
}

.list {
	padding: 10px;
}
.menu-responsive {
	display: none;
}

.hamburger {
	display: none;
}
.hamburger div {
	height: 2px;
	margin: 6px 0;
	width: 30px;
	background-color: #fff;
}
.container {
    max-width: 75%;
    margin: 0 auto;
}
.container-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.container-menu .logo a {
	text-decoration: none;
}
.container-menu h1 {
	color: #fff;
	font-size: 2em;
	text-transform: uppercase;
}
.container-menu .list ul {
	display: flex;
	list-style: none;
	padding-left: 0px;
}

.container-menu .list ul li a {
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 10px;
	color: #fff;
	font-weight: bold;
}
.container-menu .list ul li a:hover {
	color: #18bc9c;
}

header{
	background-color: #18bc9c;
	padding-top: 100px;
}

header .cabeca {
	width: 100%;
}
.container-header {
	color: white;
	text-align: center;
	padding-bottom: 20px;
}
.container-header h3 {
	font-size: 1.75em;
	font-weight: 300!important;
}
.container-header .titulo {
	color: #fff;
}

.foto-perfil {
	margin-top: 20px;
    margin-bottom: 3px;
    clip-path: circle(40%);
}

#portifolio {
	padding:60px 0;
}
#portifolio h4 {
	text-align: center;
	color: #2c3e50;
}	

.titulo {
	font-size: 3em;
	text-align: center;
	text-transform: uppercase;
	color: #2c3e50;
}

#portifolio .row {
	display: flex;
	margin-bottom: 30px;
}
#portifolio .row .col {
	width: 33.33%;
	margin: 0 15px;
}
#portifolio .row .col img {
	max-width: 100%;
	transition: 1s;
	cursor: pointer;
}
#portifolio .row .col img:hover {
	transform: scale(1.1);
	opacity: 0.7;
}

.about {
	background-color: #18bc9c!important;
	padding:60px 0;
}

.container #titulo-about {
	color: white;
}

.texto-about p {
	font-family: sans-serif;
	font-size: 1.5rem;
    line-height: 1.5em;
    color: #fff;
}

.rodape {
	background-color: #2c3e50;
	padding: 60px 0;
	text-align: center;
}

.copy {
	text-align: center;
	background-color: #1a252f;
	color: #fff;
	padding-bottom: 1.5rem!important;
	padding-top: 1.5rem!important;
}

#copy {
	font-family: sans-serif;
}

#copy a {
	text-decoration: none;
	color: #18bc9c;
}

.lista-contato ul{
	list-style: none;
	padding: 0;
}

.lista-contato li a{
	text-align: center;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 1.3rem;
    line-height: 1.5em;
    color: #fff;
}

.lista-contato li {
	color: #fff;
	line-height: 1.5rem;
	font-size: 1.2rem;
	font-family: sans-serif;
}
@media (max-width: 768px) {
	#portifolio .row {
		display: block;
		margin-bottom: 0;
	}
	#portifolio .row .col {
		max-width: 75%;
		width: 100%;
		margin: 20px auto;
		box-shadow: 0 4px 4px rgba(0,0,0,0.3), 0 0 40px  rgba(0,0,0, 0.1) inset;
	}
	.container-menu {
		width: 90%;
	}
	.container-menu h1 {
		font-size: 1.5em;
	}

	.hamburger {
		display: block;
	}

	.container-menu .list ul {
		display: none;
	}
	nav{
		position: relative;
	}
	.menu-responsive {
		padding: 0;
		width: 100%;
	    margin: 0 auto;
	    max-width: 75%;
	}
	.menu-responsive ul{
		padding: 10px 0;
		margin: 0;
		list-style: none;
	}
	.menu-responsive ul li a {
		text-decoration: none;
		color: #fff;
	}

	.texto-about{
		text-align: center;
	}

	.titulo {
		font-size: 2em;
	}
}